* {
    box-sizing: border-box;
    margin:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
/* CSS header */
header {
    width: 100%;
    height: 60px;
    background-color:#554F64;
    position: fixed;
    display:block;
}

header img {
    float: left
}

header div {
    float:left;
    margin-top:5px;
    margin-left: 600px;
}

header button {
    height: 25px;
    width: 80px;
}

/* CSS Menu */
nav {
    width: 100%;
    height:30px ;
    background-color: #B9AEBB;
    position: fixed;
    top:60px;
    text-align: center;
    
}

nav a {
    padding:5px;
    color:white;
    text-decoration: none;
    display:block
}

ul {
    display: inline;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
}

ul li:hover {
    background: #825F57;
}

ul li:hover ul {
    display: block;
}

ul li ul {
    position: absolute;
    width: 200px;
    display: none;
    background:#825F57 ;
}

ul li ul li { 
    background: #825F57; 
    display: block; 
    text-align: justify;

}
  
ul li ul li:hover {
    background-color: #554F64;
    font-weight: bold;
    padding:0px 15px;
}

/* CSS left content */
aside {
    margin-top:95px;
    height: 500px;
    float:left;
    width: 30%;
    background-color: #825F57;
    overflow-y: scroll;
    text-align: center;
    border-right: 5px solid white;
    
}

img.icon {
    width: 20px;
    border-radius: 20px;
}

img.thumb {
    width:90%;
    border-radius: 10px;
}


aside::-webkit-scrollbar {
    display: none;
}

aside div {
    padding-top: 20px;
    padding-bottom: 20px;
    display:inline-block
    
}



/* CSS main content */
article {
    margin-top:95px;
    float:left;
    width: 70%;
    height: 500px;
    background-color: #6c7688;
    text-align: center;
    overflow-y: scroll;
    padding-top: 20px;
}

article img {
    width: 50%;
}

article p {
    margin: 0px 100px ;
    text-align: justify;
}

article::-webkit-scrollbar {
    display: none;
}




/* CSS footer */
footer {
    clear: both;
    margin:auto;
    height: 50px;
    text-align: center;
    background-color:#554F64;
}

#scroll {
    width: 7%;
    position: fixed;
    bottom:35px;
    left:330px
}

